<!DOCTYPE html>
<html>

<head>
    <title>Add Location</title>
</head>

<body>
    <h1>Add Location</h1>
    <form method="POST" action="/add_location" enctype="multipart/form-data">
        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" name="latitude" required><br><br>

        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" name="longitude" required><br><br>

        <label for="data">Data:</label>
        <input type="text" id="data" name="data" required><br><br>

        <input type="submit" value="Add Location">
    </form>
</body>

</html>